data/certbot
data/certificate-issuer
data/diagnostic.data
data/journal
data/mongo
data/nginx
data/paper
data/WiredTiger.turtle

data/dms/mail-data
data/dms/mail-logs
data/dms/mail-state
data/dms/config/opendkim
data/dms/config/dovecot-quotas.cf
data/dms/config/postfix-accounts.cf

.DS_Store

*.env*
